@{
    ViewData["Title"] = "Home Page";
}
            

            <div id="title">
                <h1>Holodreams Tech</h1>
                <p>Holodreams Tech is a place for your company to grow it's market value, presence, and draw to the tech community.</p>
            </div>
            <div id="info1">
                <p>
                    Being a member of Holodreams Tech means you get updates on blog posts, updates, and new applications as they are released.
                </p>
            </div>
            <div id="info2">
                <p>
                   Delievering High Performance web applications for what you need for retail, sales, and gaming.
                </p>
            </div>
            <div id="info3">
                <p>
                   Learn more about Holodreams Tech at our blog on Wordpress: <a href="https://holodreams.wordpress.com"> Holodreams Tech </a>
                </p>
            </div>
        
            <div>
                <p> <input type="button" value="Become a member" onclick="location.href='@Url.Action("Index", "AddMember")'" /> </p>
            </div>